html{
  font-size: 62.5%;
}

.container {
  font-family: 'Noto Sans KR', sans-serif;
  position: relative;
}

@font-face {
  font-family: 'Happiness-Sans-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Happiness-Sans-Regular';
  src: url('../../fonts/Happiness-Sans-Regular.ttf');
}

@font-face {
  font-family: 'Happiness-Sans-Title';
  src: url('../../fonts/Happiness-Sans-Title.ttf');
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
