.reportContainer {
  font-family: 'GmarketSansMedium';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.reportTop {
  display: flex;
  font-size: 0.8rem;
  width: 80vw;
}

.reportTop img {
  margin-right: 15px;
  width: 26vw;
  height: 22vh;
}

.shorttitle {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 15px;
}

.longtitle {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.reportTop section span {
  display: block;
  color: rgb(58, 58, 58);
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.reportContainer section {
  width: 70vw;
}


.review {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.3rem;
  background-color: white;
  filter: drop-shadow(0px 0px 1px #9b9b9b);
  padding:20px;
}

.editDeleteBtn {
  margin-bottom: 50px;
  margin-top: 10px;
}

.editDeleteBtn button {
  border: none;
  outline: none;
  background-color: #0a0a23;
  color: white;
  padding: 10px 00px;
  font-family: 'GmarketSansMedium';
  border-radius: 10px;
  cursor: pointer;
}

.editDeleteBtn button:first-child {
  margin-right: 10px;
  padding-right: 60px;
  padding-left: 60px;
}

.editDeleteBtn button:last-child {
  margin-right: 10px;
  padding-right: 60px;
  padding-left: 60px;
}

#editBtn {
  text-align: center;
  
}

#editBtn button {
  background-color: #0a0a23;
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 20px;
}


#editBtn button:first-child {
  margin-right: 10px;
  padding-right: 40px;
  padding-left: 40px;
}
#editBtn button:last-child {
  margin-right: 10px;
  padding-right: 40px;
  padding-left: 40px;
}

.editContainer {
  text-align: center;
}

.editForm {
  display: flex;
  flex-direction: column;
}

.editForm * {
  font-family: 'GmarketSansMedium';
}
.editForm div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  
}

.editForm input {
  border: none;
  outline: none;
  border-bottom: 1px solid #696969;
  padding: 5px;
  width: 55vw;
}

.editForm label {
  margin-right: 10px;
}

.editForm textarea {
  height: 20vh;
  padding: 0;
  outline: none;
  font-size: 1.4rem;
  width: 100%;
  margin-top: 10px;
}
