.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgb(62, 210, 255);
}

.bottomTabs {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.tab {
  text-align: center;
  align-items: center;
  margin: 0 20px;
}

.BottomTab {
  position: absolute;
  z-index: 1;
  background-color: aqua;
}

.BottomTab.fixed {
  width: 100%;
  bottom: 0;
  left: 0;
}
