.commentContainer {
  width: 80vw;
  font-family: 'GmarketSansMedium';
}

.inputComment {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(85, 85, 85);
  padding: 5px;
  font-family: 'GmarketSansMedium';
  width: 55vw;
}

.inputComment:focus {
  outline: none;
}

.commentContainer form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.commentContainer form button {
  border: none;
  width: 17vw;
  height: 30px;
  font-family: 'GmarketSansMedium';
  color: white;
  border-radius: 7px;
}

.submitCommentActive {
  background-color: #0a0a23;
}

.submitCommentInactive {
  background-color: #0a0a2333;
}

.commentList p {
  margin-bottom: 10px;
  color: #0a0a23;
}

.commentList:last-child {
  margin-bottom: 140px;
}

.edit_delete_Btn {
  margin-top: -17px;
}

.edit_delete_Btn button {
  border: none;
  padding: 7px 13px;
  margin-right: 7px;
  color: white;
  font-family: 'GmarketSansMedium';
  border-radius: 7px;
  font-size: 1rem;
}

.edit_delete_Btn button:first-child {
  background-color: tomato;
}

.edit_delete_Btn button:last-child {
  background-color: #3781c5;
}
