.switch {
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 80vw;
  border-radius: 15vw;
  padding: 2px;
}

.btn {
  width: 25vw;
  display: flex;
  background-color: #3a93ff;
  color: rgb(231, 231, 231);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 3vw;
  border-radius: 4vw;
  padding: 3px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
}

.btn:last-child {
  margin-right: 0;
}
