.switch {
  display: flex;
  background-color: rgb(194, 255, 255);
  width: 40vw;
  border-radius: 15vw;
  padding: 2px;
}

.btn {
  width: 11vw;
  display: flex;
  background-color: rgb(95, 95, 95);
  color: rgb(231, 231, 231);
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 3vw;
  border-radius: 4vw;
  padding: 3px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 300;
}

.btn:last-child {
  margin-right: 0;
}
