.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
 
}

.img {
  height: 180px !important;
  width: 120px;
  height: auto;
  border-radius: 5%;
  /* filter: drop-shadow(3px 5px 3px #727272);*/
  margin-bottom: 20px;
  margin-top: 10px;
}

.title {
  width: 80%;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  font-family: 'Happiness-Sans-Regular';
  font-weight: 600;
  margin-bottom: 20px;
}

.content {
  font-size: 10px;
  margin-top: 8px;
  text-align: left;
  width: 68%;
  font-family: 'Happiness-Sans-Regular';
}
