.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.inputForm {
  display: flex;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.input {
  width: 170px;
  height: 20px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid gray;
}

.wrapper h1 {
  margin-bottom: 20px;
  font-size: 25px;
  font-family: 'GmarketSansMedium';
  margin-left: -10px;
  font-weight: 600;
}

.btn {
  height: 30px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 4px;
  width: 100%;
}

.login_btn {
  margin-left: 10px;
}
.genre_btn {
  margin: 10px 0;
}

.join {
  border: none;
  font-size: 12px;
}

.Google {
  margin-top: 10px;
  border: none;
}
