.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 70px;
}

.content {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content ul {
  padding: 0;
}

.bookContainer {
  display: flex;
  height: auto;
  width: 80vw;

  margin-bottom: 40px;
  font-family: 'GmarketSansMedium';
}

.bookImg {
  border-radius: 5%;
  margin-right: 30px;
  width: 80px;
  filter: drop-shadow(3px 5px 3px #727272);
}

.detail {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.detail > div span {
  display: block;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-right: 4px;
}

.author {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(138, 138, 138);
  margin-top: 10px;
}
.detailInfo {
  font-size: 1rem;
  margin-top: 10px;
}

.detailInfo div:last-child {
  margin-top: 10px;
}

.BookReportTitle {
  font-size: 1.2rem;
  margin-top: 10px;
}
