.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.libraryContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 100%;
  margin-top: 50px;
}

.bookContainer {
  display: flex;
  width: 70vw;
  height: auto;
  margin-bottom: 40px;
}

.bookImg {
  width: 65px;
  margin-right: 25px;
}

.detail {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 16px;
  margin-right: 4px;
}

.author {
  font-size: 12px;
  font-weight: 500;
  color: rgb(138, 138, 138);
}
.detailInfo {
  font-size: 10px;
}

.BookReportTitle {
  font-size: 12px;
}

.Calendar {
  margin-top: 50px;
}
