.container {
  position: relative;
}

.contents {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.total1 {
  margin-top: 6px;
  font-size: 30px;
  font-family: "Happiness-Sans-Regular";
  color: #3781C5;
  /*text-decoration: underline;
  text-underline-position:under;*/
}
.total2 {
  margin-top: 6px;
  font-size: 30px;
  font-family: "Happiness-Sans-Regular";
  color: #C1A64A;
  /*text-decoration: underline;
  text-underline-position:under;*/
}
.total3 {
  margin-top: 7px;
  font-size: 30px;
  font-family: "Happiness-Sans-Regular";
  color: #795BAA;
  /*text-decoration: underline;
  text-underline-position:under;*/
}

.pagename {
  font-size: 25px;
  font-weight: 500;
  margin: 20px;
  margin-top: 40px;
  font-family: 'GmarketSansMedium';
}

.profile {
  width: 80vw;
  border-radius: 1vw;
  display: flex;
  /* margin-left: 10px;
  justify-content: center;*/
}

.profileImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 20px 0px 10px;
}

.profile_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10 px;
}

.name {
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}

.level {
  font-size: 16px;
}

.back {
  background-color: rgb(54, 35, 35);
  margin-top:40px;
 /* display: block;*/
}

.settings {
  width: 80vw;
  margin-top:10px;
  font-size: 22px;
  font-family: "GmarketSansMedium";
  margin-bottom:120px;
 /* display: block;*/
}

.settings2 {
  width: 80vw;
  margin-top:5px;
  font-size: 22px;
  font-family: "GmarketSansMedium";
  margin-bottom:20px;
 /* display: block;*/
}

.setting {
  margin-top: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.setting img {
  width: 20px;
  height: 20px;
  padding:4px;
  margin-bottom: 4px;
}

.hr{
  height: 3px;
  background-color : rgb(0, 0, 0);
  border : 0;
}


.dogscontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

}
.dogs {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
  
.dogs img {
  /* border: 1px solid red; */
   /*float: left;*/
    width:88%;
    /*box-sizing: border-box;*/
    margin-right: 0px;
    border-radius:6px 6px 0px 0px
   /* justify-content:space-between;*/
    
 }
 .dogs button {
  width:88%;
  background-color: skyblue;
  color: #fff;
  border-radius:0px 0px 6px 6px;
  border: 8px solid skyblue;

 }


 .dogs button:disabled{
  background:  black;
  color: #ccc;
  border: 8px solid black;
}


.message{
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 10px;
  font-family: "Happiness-Sans-Regular";
  color: #474747;
 
}
.logout {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 100px;
}

.frined_list {
  margin-top: 30px;
}

.friend {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.friend_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: rgb(58, 58, 58);
  margin-right: 30px;
  margin-left: 10px;
}

.friend_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 7px;
}

.book > img {
  width: 65px;
  height: 96px;
}

.book {
  font-size: 0;
  margin-right: 15px;
}

.lendBooks {
  width: 78vw;
  font-family: 'GmarketSansMedium';
}

.lendBook {
  display: inline-block;
  width: 22vw;
  height: 15vh;
  margin: 2vw;
}

.lendBook img {
  width: 22vw;
}

.lendBook h1 {
  font-weight: 500;
  font-size: 1.5rem;
}

.LendBookContainer {
  width: 100vw;
  height: 100vh;
  font-family: 'GmarketSansMedium';
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.LendBookContainer img {
  width: 35vw;
  height: 24vh;
}

.LendBookContainer h1 {
  font-size: 2.5rem;
  margin-top: 20px;
}

.LendBookContainer span {
  margin-top: 10px;
}

.LendBookContainer p {
  font-size: 1.5rem;
  margin-top: 20px;
  width: 80vw;
  text-align: center;
}


.taste{
  width: 76%;
  margin: 10px auto;
   
   display: flex;
   flex-direction: row;
   justify-content: center;

}

.taste img {
  /* border: 1px solid red; */
    float: left;
    width:40%;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 3%;
    justify-content:space-between;
    
 }

